*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.container{


}

nav{
    background: #33502f;
    width: 100vw;
    height: 10vh;
    display: block;
    text-align: right;
    padding: 3vw;
    text-decoration: none;
    left: ;

}

a{
    color:white;
    font-size: 1.8vw;
    padding: 2vw;
}